<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Packets Sniffed</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="total_packets"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Streams</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id = "total_streams"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Flagged Packets</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="total_flagged"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xl-8 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Yara rules</h6>
    </div>

    <div class="card-body">
        <form action ="/addrule" method="post">
            <div class="col-lg-12">

                <div class='form-group'>
                <label>Author</label>
                <input type="text" name = "author" class='form-control'></br>
                </div>

                <div class='form-group'>
                <label>Rule Name</label>
                <input type="text" name = "rulename" class='form-control'></br>
                </div>

                <div class='form-group'>
                <label>Description</label>
                <input type="text" name = "description"  class='form-control'></br>
                </div>

                <div class='form-group'>
                <label>Strings</label>
                <textarea name="strings" cols="60" row="15"  class='form-control'></textarea></br>
                </div>

                <div class='form-group'>
                <label>Condition</label>
                <textarea name ="condition" cols="60" row="15"  class='form-control'></textarea></br>
                <input type="submit">
                </div>
            </div>
        </form>
    
    </div>
    </div>
</div>
  {% endblock content%}


</body>

</html>