<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  <div class="row">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Traffic Flow</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="myAreaChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">Protocols In Network</h6>
      </div>

      <div class="card-body">
        <div class="chart-area">
          <canvas id="myPieChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script src="/static/js/traffic_chart_area.js"></script>
<script src="/static/js/protocol_piechart.js"></script>
  {% endblock content%}



</body>

</html>