<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="/static/js/graph.js"></script>

<head>

</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Network Mapping</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="mynetwork"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>


    {% endblock content%}



</body>

</html>