<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {% extends "base.html" %}
  {% block content %}
   <!-- DataTales Example -->
   <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>TCP Streams</th>

            </tr>
          </thead>
          <tbody>
           {% for stream , v in tcp_streams.items() %}
            <tr>
              <td>{{stream}}</td>
              <td>{{v}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock content%}


</body>

</html>