<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="col-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">UDP Sessions</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form action="/viewudp" method="post">
                        <label for="sessions">Select Session:</label>
                        <select class="form-control" name="session">
                            {%for k in udp_sessions%}
                            <option>{{k}}</option>
                            {%endfor%}
                        </select>
                        </br>

                    </form>
                </div>
            </div>
        </div>


    </div>
    {% endblock content%}


</body>

</html>