<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Packets Sniffed</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="total_packets"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Streams</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id = "total_streams"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Flagged Packets</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="total_flagged"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- DataTales Example -->
  <div class="row">
  <div class="col-xl-8 col-lg-7">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Pcap Files</h6>
  </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>File Name</th>
            </tr>
          </thead>
          <tbody>
           {% for file in pcap_files %}
            <tr>
              <td><a href="/viewfile/{{file}}">{{file}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Carved Files</h6>
      </div>
  
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Carved Files</th>

            </tr>
          </thead>
          <tbody>
           {% for file in carved_files %}
            <tr>
              <td><a href="/viewfile/{{file}}">{{file}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    </div>  
  </div>
  </div>
</div>

  {% endblock content%}


</body>

</html>